canvas {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1050; 
}
body{
  width: 480px; 
}
.topic{
  width: 300px; 
  height: 400px; 
  background-color: rgb(0, 0, 0, 0.2);
  color: white;
  font-family: Metropolis,sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin: 10px;
  text-align: center;
  justify-content: center;
  padding: 5px;
}

.type-card {
    width: 280px; 
    height: 80px; 
    background-color: rgba(0,0,0,.6);
    padding: 10px;
    border-radius: 50px 10px 10px 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: white;
    font-family: Metropolis,sans-serif;
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    margin: 5px;
  }
  .type-card:hover{
    background-color: rgba(0,0,0,1);
    box-shadow: 0 0 20px #0b3d91;
    cursor: pointer;
  }
  .solar_type {
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    text-align: right;
    justify-content: end;
  }
  
  #dynamic-ui {
    --bgDark: rgba(0,0,0,.85);
    --bgMed: rgba(0,0,0,.75);
  }
  .solar-img{
    width: 80px;
    display: flex;
    justify-content: center;  
    align-items: center;  
  }
  .moon_solar_total {
    width: 40px;
    height: 40px;
    background-color: #ecaf2b; /* Color of the moon */
    border-radius: 50%; /* Create a circular moon */
    position: relative;
    box-shadow: 0 0 20px rgba(241, 123, 12, 0.75);

  }
  
  .solar_total {
    width: 40px;
    height: 40px; /* Make it taller to simulate the Earth's shadow */
    background-color: #000; /* Color of the Earth's shadow */
    border-radius: 50%;
    position: absolute;
    /* bottom: 0; */
    left: 50%;
    transform: translateX(-50%);
    /* animation: eclipse-animation 5s linear infinite alternate;  */
  }
  
  .type-card:hover .moon_solar_total {
      animation: solar_total_animate 1s linear infinite alternate;
       /* Increase the shadow size on hover */
  }
  
  @keyframes solar_total_animate {
    0% {
      box-shadow: 0 0 10px rgba(241, 123, 12, 0.8);
    }
    100% {
      box-shadow: 0 0 35px rgba(241, 123, 12, 0.8);
    }
  }

  .moon_solar_partial {
    width: 40px;
    height: 40px;
    background-color: rgb(241, 123, 12); /* Color of the moon */
    border-radius: 50%; /* Create a circular moon */
    position: relative;
    box-shadow: 0 0 20px rgba(255, 125, 3, 0.75);
    /* top: 5px; */
  }
  
  .solar_partial {
    width: 40px;
    height: 40px; /* Make it taller to simulate the Earth's shadow */
    background-color: rgba(0,0,0,95); /* Color of the Earth's shadow */
    border-radius: 50%;
    position: absolute;
    top: -13px;
    left: 70%;
    transform: translateX(-50%);
  }
  
  .type-card:hover .solar_partial {
      animation: solar_partial_animate 1s linear infinite alternate;
       /* Increase the shadow size on hover */
  }
  
  @keyframes solar_partial_animate {
    0% {
      top: -13px;
      left: 70%;
    }
    100% {
      top: -5px;
      left: 60%;
    }
  }
  
  .moon_solar_annular {
    width: 40px;
    height: 40px;
    background: radial-gradient(circle,#ff0000,#ffe400); /* Color of the moon */
    border-radius: 50%; /* Create a circular moon */
    position: relative;
    box-shadow: 0 0 20px rgba(255, 125, 3, 0.75);
    left: 15%;
  }
  
  .solar_annular {
    width: 36px;
    height: 36px; /* Make it taller to simulate the Earth's shadow */
    background-color: rgba(0,0,0,.95); /* Color of the Earth's shadow */
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    animation: eclipse-animation 5s linear infinite alternate; /* Animation */
  }
  .type-card:hover .solar_annular {
      animation: solar_annular_animate 1s linear infinite alternate;
       /* Increase the shadow size on hover */
  }
  @keyframes solar_annular_animate {
    0% {
      top: 0px;
      left: 60%;
    }
    100% {
      top: 2px;
      left: 50%;
    }
  }
  
  .moon_solar_hybrid {
    width: 40px;
    height: 40px;
    background-color: rgb(241, 123, 12); /* Color of the moon */
    border-radius: 50%; /* Create a circular moon */
    position: relative;
    box-shadow: 5px 5px 20px rgba(241, 123, 12, 0.4);
    left: 10%;
  }
  
  .solar_hybrid {
    width: 38px;
    height: 38px; /* Make it taller to simulate the Earth's shadow */
    background-color: rgba(0,0,0,.95); /* Color of the Earth's shadow */
    border-radius: 50%;
    position: absolute;
    bottom: -1px;
    left: 55%;
    transform: translateX(-50%);
  }
  
  .type-card:hover .solar_hybrid {
      animation: solar_hybrid_animate 1s linear infinite alternate;
       /* Increase the shadow size on hover */
  }
  @keyframes solar_hybrid_animate {
    0% {
      bottom: -2px;
      left: 65%;
    }
    100% {
      bottom: -1px;
      left: 55%;
    }
  }
  
  .type-card:hover .moon_solar_hybrid {
      animation: moon_solar_hybrid_animate 1s linear infinite alternate;
       /* Increase the shadow size on hover */
  }
  @keyframes moon_solar_hybrid_animate {
    0% {
      box-shadow: 0 0 20px rgba(241, 123, 12, 0.3);
    }
    100% {
      box-shadow: 5px 5px 20px rgba(241, 123, 12, 0.6);
    }
  }